/bin/
/build/
/out/
/target/
*.class

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

/logs/
/dependency-reduced-pom.xml

.gradle/
/*.log

*.prefs
*.classpath
*.project
.settings/

.vscode/

/test-output/
/surefire-reports/
/cucumber-reports/

*.swp
*~
